<div class="container">
  @if (reviewService.reviews().length) {
  <table>
    <caption>
      Product Reviews
    </caption>
    <thead>
      <tr>
        <th>Username</th>
        <th>Title</th>
        <th>Review</th>
        <th>Helpful</th>
      </tr>
    </thead>
    <tbody>
      @for (review of reviewService.reviews(); track review.id) {
      <tr>
        <td>{{ review.userName }}</td>
        <td>{{ review.title }}</td>
        <td>{{ review.text }}</td>
        <td>
          <button class="helpfulButton" (click)="onHelpful(review.id)">👍</button>
          {{ review.helpfulCount }}
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @else if (!isLoading()) {
  <div>No reviews found for the selected product</div>
  }
</div>
