.container {
  font-size: 18px;
  margin-top: 20px;
  padding: 20px 10px;
  border: 2px solid #f15b2a;
  border-radius: 4px;
}

table {
  border-spacing: 10px;
  min-width: 100%;
  text-align: left;
}

caption {
  caption-side: top;
  color: #f15b2a;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
  text-align: left;
}

th {
  color: #f15b2a;
  font-weight: bold;
  position: sticky;
}

td {
  color: #6a5449;
  vertical-align: top;
}

.helpfulButton {
  background-color: #f15b2a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  height: 28px;
  width: 24px;
}
